{%- set ip_address = ansible_facts['eth0']['ipv4']['address'] -%}
{%- set initial_cluster = [] -%}
{%- for host in groups['etcd'] -%}
  {%- set hostname = hostvars[host]['ansible_hostname'] -%}
  {%- set ip_address = hostvars[host]['ansible_facts']['eth0']['ipv4']['address'] -%}
  {%- set port = '2380' -%}
  {{ initial_cluster.append(hostname + "=https://" + ip_address + ":" + port) }}
{%- endfor -%}

[Unit]
Description=etcd
Documentation=https://github.com/coreos

[Service]
Environment=ETCD_UNSUPPORTED_ARCH=arm64
Type=notify
ExecStart=/usr/local/bin/etcd \
  --name {{ ansible_hostname }} \
  --cert-file=/etc/etcd/kubernetes.pem \
  --key-file=/etc/etcd/kubernetes-key.pem \
  --peer-cert-file=/etc/etcd/kubernetes.pem \
  --peer-key-file=/etc/etcd/kubernetes-key.pem \
  --trusted-ca-file=/etc/etcd/ca.pem \
  --peer-trusted-ca-file=/etc/etcd/ca.pem \
  --peer-client-cert-auth \
  --client-cert-auth \
  --listen-peer-urls https://{{ ip_address }}:2380 \
  --listen-client-urls https://{{ ip_address }}:2379,https://127.0.0.1:2379 \
  --advertise-client-urls https://{{ ip_address }}:2379 \
  --initial-advertise-peer-urls https://{{ ip_address }}:2380 \
  --initial-cluster-token {{ etcd_initial_cluster_token }} \
  --initial-cluster {{ initial_cluster | join(',') }} \
  --initial-cluster-state new \
  --data-dir=/var/lib/etcd
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
